
.properties{
    width: 100%;
    padding: 1rem;
}
.properties h2{
    text-transform: capitalize;
}
.properties .row{
    padding: 1rem 0;
}
.row .prop-cards{
    width: 100%;
    height: auto;
    /* grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr)); */
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: auto; */
    grid-auto-flow: dense;
    grid-auto-rows: auto;
}
.property-card{
    /* width: 20rem; */
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.property-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all .8s ease;
}
.property-card img:hover{
    scale: 1.2;
}
.wide{
    grid-column: span 2;
    grid-row: span 1;
}
.tall{
    grid-row: span 2;
    grid-column: span 2;
}
.square{
    grid-row: span 2;
    grid-column: span 2;
}
.property-card .prop-overlay{
    position: absolute;
    width: 100%;
    height: 2.5rem;
    color: #fff;
    bottom: -3rem;
    z-index: 1;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all .5s ease;
}
.property-card:hover .prop-overlay{
    bottom: 0;
}


@media screen and (max-width: 500px){
    .property-card .prop-overlay{
        bottom: 0;
    }
    .row .prop-cards{
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    }
    .property-card img:hover{
        scale: 1.1;
    }
}

