@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap&family=Tilt+Neon&display=swap");
@import url("https://fonts.cdnfonts.com/css/borsok");

:root {
    --bgCover: url("/src/resources/images/bg3.jpg");
    --formsBg: url("/src/resources/images/forms.jpg");
    --flamingo: url("./src/resources/images/18.jpg");
    /* COLORS */
    --white: #e9e9e9;
    --gray: #333;
    --blue: #0367a6;
    --lightblue: #008997;
    --brownish: #fd871d;
    --bgColor: #0a1930;
    --fontColor: #cbdaf7;
    --cardBg: #172b46;
    /* RADII */
    --button-radius: 0.7rem;

    /* SIZES */
    --max-width: 800px;
    --max-height: 510px;

    font-size: 16px;
}

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.apps {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    background: var(--bgColor);
    color: var(--fontColor);
}

a {
    text-decoration: none;
    color: #fff;
}

.grid-container {
    display: grid;
    place-items: center;
}

.flex-container {
    display: flex;
    place-items: center;
    justify-content: center;
}

.full-div {
    width: 100%;
    height: 100%;
}

/* .chevronicon{ */
/*     color: var(--brownish); */
/*     position: absolute; */
/*     z-index: 10; */
/*     top: 50%; */
/*     font-size: 3rem; */
/*     cursor: pointer; */
/* } */
/* #chevronLeft { */
/* 	left: 2% !important; */
/* } */
/* #chevronRight { */
/* 	right: 2%; */
/* } */
