
.community{
    height: 60vh;
    padding: 1rem;
    background: url("../../resources/images/savannah.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
.community div{
    width: 30rem;
    text-align: center;
    gap: 2rem;
}
.community div form{
    width: 100%;
    height: auto;
    display: flex;
    gap: .5rem;
}
.community div form input{
    width: 100%;
    padding: .5rem;
    border-radius: .4rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid #121212;
}
.community div form input[type="submit"]{
    width: 10rem;
    cursor: pointer;
    background: var(--brownish);
    border: none;
}

@media screen and (max-width: 500px){
    .community div{
        width: 100%;
    }
}
