
.footer{
    width: 100%;
    height: auto;
    background: #202726;
    color: #f1f1f1;
}
.footer-section{
    /* grid-template-columns: 1fr 1fr 1fr !important; */
    padding: 2rem 2rem 1rem 2rem;
}
.footer .copyright{
    bottom: 0;
    width: 100%;
    background: #121212;
    height: auto;
    padding: 1rem;
}
.copyright span{
    font-size: 1.2rem;
    gap: .5rem;
}



@media screen and (max-width: 1000px){
}


@media screen and (max-width: 500px){
}

@media screen and (max-width:400px){
    .copyright span{
        font-size: 1rem;
        gap: .2rem;
    }
}

