.landing-page {
  width: 100%;
  height: 100%;
  background: var(--bgCover);
  /* background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../../resources/images/14.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    background-attachment: fixed;
}
.landing-page section {
  width: 100%;
  height: 100%;
  padding-top: 6rem;
  backdrop-filter: blur(2px);
}
.landing-page section div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem 0 0 5rem;
}
.text span {
  width: 40rem;
  height: auto;
  display: grid;
  font-size: 2rem;
  padding: 1rem 0;
  line-height: 1.5;
  font-weight: bolder;
  border-bottom: 2px solid #121212;
}
.text span h3{
    font-size: 4rem;
    font-weight: normal !important;
    font-family: "borsok";
}
.text .paragraph {
  border-bottom: none;
  font-size: unset;
}
.text p {
  padding: 1rem 0;
  line-height: 1.6;
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 1000px){
    .landing-page section div{
        justify-content: end;
        padding-inline: 1rem;
        padding-bottom: 5rem;
    }
}


@media screen and (max-width: 500px) {
  .landing-page section div {
    padding-inline: 0;
    padding-bottom: 0rem;
  }
  .text span {
    width: 95%;
    padding-inline: 0.5rem;
    font-size: 1.7rem;
  }
    .text span h3{
        font-size: 3rem;
    }
  .text p {
    font-size: 1.3rem;
  }
}


@media screen and (max-width: 500px) {
    .text span h3{
        font-size: 2.3rem;
    }
}
