
.packages{
    height: auto !important;
    /* padding-block: 1rem; */
    position: relative;
}
.row-container .coll-1{
    width: 100%;
    height: 70vh;
    background: var(--flamingo);
    background-size: cover;
    background-position: center;
    background-color: #12121277;
    background-blend-mode: darken;
}
.coll-1 span{
    gap: 1rem;
    margin-bottom: 5rem;
}
.coll-1 span h3{
    font-size: 1.5rem;
}
.coll-1 span h2{
    font-size: 3rem;
    text-transform: capitalize;
}
.coll-1 span .link{
    padding: .7rem 5rem;
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 1rem;
    cursor: pointer;
    border: 1px solid #121212;
    border-radius: 2rem;
    transition: all .5s ease;
}
.coll-1 span .link:hover{
    color: #121212;
    background: var(--brownish);
    border: 1px solid var(--brownish);
}
.packages .coll-2{
    transform: translateY(-30%);
    position: relative;
}
.coll-2 .swiper{
    height: 50vh;
    width: 85%;
    position: relative;
}
.swiper {
	/* height: 350px; */
	margin-top: 0% !important;
	z-index: 0 !important;
}
.swiperSlide {
	width: 100%;
	height: 100%;
    padding-block: 1rem;
}
.swiperSlide .swipperSection {
	height: 100%;
	margin: 0 1rem;
	display: grid;
    background: #fff;
    border-radius: .4rem;
	place-items: center;
    cursor: pointer;
    overflow: hidden;
    grid-template-rows: 50% 50%;
    transition: all .5s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0,0,0,0.3) 0px 8px 16px -8px;
}
.swiperSlide:hover .swipperSection{
    transform: translateY(-5%);
}
.swipperSection .package-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.package-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    transform: translateX(40%);
}
.swipperSection .package-img .package-overlay{
    width: auto;
    height: 100%;
    padding: 1rem !important;
    position: absolute;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.package-overlay .price{
    font-size: 1.5rem;
}
.package-overlay .type{
    font-size: 2rem;
    font-weight: bolder;
}
.swipperSection .package-text{
    width: 100%;
    height: 100%;
    background: #ffd700ca;
    padding: .5rem;
    text-align: center;
    line-height: 1.8rem;
    font-style: italic;
}


@media screen and (max-width: 1000px){
    .row-container .coll-1{
        height: 55vh;
    }
    .coll-2 .swiper{
        height: auto;
        width: 100%;
    }
    .coll-1 span h2{
        font-size: 2.5rem;
        text-align: center;
    }
    .swiperSlide .swipperSection {
        width: 90%;
        height: 20rem;
    }
}

@media screen and (max-width:500px){
    .coll-2 .swiper{
        width: 90%;
    }
    .coll-1 span h2{
        font-size: 2rem;
    }
}

@media screen and (max-width:400px){
    .coll-1 span h2{
        font-size: 2rem;
    }
}
