.dest {
    margin: 6rem 0 1rem;
    width: 100%;
}

.dest .dest-heading {
    text-transform: uppercase;
    text-align: center;
    margin-block: 2rem;
}

.dest .destination-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
    padding-inline: 10%;
}

.destination-cards .destination-card {
    height: 11rem;
    display: flex;
    overflow: hidden;
    border-radius: .3rem;
    background: var(--cardBg);
}

.destination-cards .destination-card .card-img {
    width: 40% !important;
}

.destination-cards .card-img img {
    object-fit: cover;
}

.destination-card .card-texts {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 10px;
}

.destination-card .card-texts .activities {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-texts .card-texts-header {
    display: flex;
    gap: 5px;
}

.card-texts .more-details {
    border: 1px solid var(--fontColor);
    background: transparent;
    font-size: .8rem;
    color: var(--fontColor);
    padding: 8px 18px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .6s ease;
    margin-top: auto;
    align-self: flex-end;
}

.card-texts .more-details:hover {
    background: var(--fontColor);
    color: var(--bgColor);
}

.pagination-controls {
    margin-top: 1.5rem;
    width: 18rem;
    display: grid;
    place-items: center;
    justify-content: center;
    grid-auto-flow: column;
    gap: .3rem;
    position: relative;
    margin-inline: auto;
}

.pagination-controls button {
    background: transparent;
    outline: none;
    border: 0;
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: .4rem;
    cursor: pointer;
}

.pagination-controls .swiper {
    width: 100%;
    height: 100%;
    margin-top: 0% !important;
    z-index: 0 !important;
}

.pagination-controls .swiperSlide {
    width: 100%;
    height: 100%;
}

#activepg {
    padding-bottom: 2px;
    color: var(--fontColor);
}

.pagination-controls .swiper-button-prev.swiper-button-disabled {
    transform: translate(-50%);
}

.pagination-controls .swiper-button-next.swiper-button-disabled {
    transform: translate(50%);
}

.pagination-controls .swiper-button-prev {
    transform: translate(-50%);
}

.pagination-controls .swiper-button-next {
    transform: translate(50%);
}

.pagination-controls .swiper-pagination-bullet {
    display: none !important;
}

.pagination-controls #chevronleft,
.pagination-controls #chevronRight {
    font-size: 2rem !important;
    color: var(--fontColor);
    position: absolute;
    cursor: pointer;
}

.pagination-controls #chevronleft {
    left: -2rem;
}

.pagination-controls #chevronRight {
    right: -2rem;
}

.pagination-controls button {
    color: var(--fontColor);
}



@media screen and (max-width: 1000px) {
    .dest .destination-cards {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        padding-inline: 3%;
    }
}

@media screen and (max-width: 500px) {
    .dest {
        margin: 4.5rem 0 1rem;
    }

    .destination-cards .destination-card {
        height: 9rem;
    }

    .card-texts .more-details {
        font-size: .5rem;
    }

    .destination-card .card-texts {
        gap: 3px;
        padding: .5rem;
    }
}
